* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
}

@import "./navbar";
@import "./header";
@import "./bodyTop";
@import "./subject";
@import "./subjectCard";
@import "./bodyMiddle";
@import "./bodyLower";
@import "./testimonial";
@import "./bodyEnd";
@import "./footer";
@import "./tutorCard";
